{{define "_files"}}
    <div>
        <h3>Files (<a href="/download{{$.FilesPrefixURL}}">Download</a>)</h3>
        <ul>
            {{range .Files}}
                <li>
                    {{if .IsDir}}
                        <a href="/files{{$.FilesPrefixURL}}{{.Name}}">{{.Name}}</a>
                        <span><i>(directory)</i></span>
                    {{else}}
                        <a href="/download{{$.FilesPrefixURL}}{{.Name}}">{{.Name}}</a>
                    {{end}}
                </li>
            {{end}}
        </ul>
    </div>
{{end}}