{{define "_files"}}
    {{if .FilesCanWriteHere}}
        <div>
            <h3>Upload here</h3>
            <form method="post" action="/upload{{$.FilesPrefixURL}}" enctype="multipart/form-data">
                <input type="file" multiple name="file">
                <button>Upload</button>
            </form>
        </div>
        <hr>
    {{end}}
    <div>
        <h3>Files (<a href="/download{{$.FilesPrefixURL}}">Download</a>)</h3>
        <ul>
            {{range .Files}}
                <li>
                    {{if .IsDir}}
                        <a href="/files{{$.FilesPrefixURL}}{{.Name}}">{{.Name}}</a>
                        <span><i>(directory)</i></span>
                    {{else}}
                        <a href="/download{{$.FilesPrefixURL}}{{.Name}}">{{.Name}}</a>
                    {{end}}
                </li>
            {{end}}
        </ul>
    </div>
{{end}}