{{define "index"}}
    {{template "header" .}}
    <div>
        <h3>Authentication</h3>
        {{if .User }}
            <p>Logged in as <b>{{.User.Nickname}}</b></p>
            <p>Admin: <b>{{.User.Admin}}</b></p>
            <form action="/logout">
                <button>Logout</button>
            </form>
        {{else}}
            <form action="/login">
                <button>Login</button>
            </form>
        {{end}}
    </div>
    <hr>
    <div>
        <h3>Files</h3>
        <ul>
            {{range .Files}}
                <li>{{.Name}}</li>
            {{end}}
        </ul>
    </div>
    {{template "footer" .}}
{{end}}