{{define "login"}}
    {{template "header" .}}
    <div>
        <form method="post">
            <label>
                Nickname
                <input type="text" name="nickname" placeholder="Nickname">
            </label>
            <label>
                Password
                <input type="password" name="password" placeholder="Password">
            </label>
            <input type="hidden" name="provider" value="passwd">
            <button>Login</button>
        </form>
    </div>
    {{template "footer" .}}
{{end}}